<h2>Login</h2>
@model LoginUser
<form asp-action="LoggingInUser" asp-controller="Home" method="post">
    <label asp-for="LoginEmail">Email Address:</label>
    <input asp-for="LoginEmail">
    <span asp-validation-for="LoginEmail"></span>
    <br>
    <label asp-for="LoginPassword">Password:</label>
    <input asp-for="LoginPassword">
    <span asp-validation-for="LoginPassword"></span>
    <br/>
    <input value="Login" type="submit">
</form>